<div class="clouds-container">
    <div class="cloud-container1">
        <div class="cloud"></div>
    </div>

    <div class="cloud-container2">
        <div class="cloud"></div>
    </div>

    <div class="cloud-container3">
        <div class="cloud"></div>
    </div>

    <div class="cloud-container4">
        <div class="cloud"></div>
    </div>

    <div class="cloud-container5">
        <div class="cloud"></div>
    </div>
    <div class="cloud-container6">
        <div class="cloud"></div>
    </div>
    <div class="cloud-container7">
        <div class="cloud"></div>
    </div>
    <div class="cloud-container8">
        <div class="cloud"></div>
    </div>
</div>