body {
    margin: 0;
    min-height: 100vh;
}

.daytime {
    background: linear-gradient(156.8deg, rgb(51, 129, 189) 27.1%, rgb(142, 152, 189) 77.8%);
}

.nighttime {
    background: linear-gradient(56.8deg, rgb(45, 93, 133) 27.1%, rgb(5, 5, 5) 70.8%);
}

.currentWeather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    height: 20rem;
    margin: auto;
    margin-top: 7rem;
    color: #fff;
    position: relative;
    border-radius: 20px;
    font-family: Andale Mono, monospace;
    background: linear-gradient(156.8deg, rgb(30, 144, 231) 27.1%, rgb(67, 101, 225) 77.8%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.currentWeather-text-container h1 {
    font-size: 70px;
    margin: 0;
}

.currentWeather-text-container h1:nth-child(2) {
    font-size: 110px;
    margin: auto;
}

.currentWeather-text-container {
    display: flex;
    flex-direction: column;
}

.currentWeather-icon {
    object-fit: cover;
    width: 15rem;
    margin-bottom: 4rem;
    margin-right: 2rem;
    filter: brightness(115%);
}

.currentWeather-live-icon {
    width: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
}

.currentWeather-city {
    position: absolute;
    top: 1.9rem;
    left: 4.5rem;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-floating {
    width: 20rem;
    margin-top: 3rem;
}

.btn {
    padding: 10px 12px;
    margin-top: 3rem;
    margin-left: 1rem;
    z-index: 1;
}

.credits{
    position: relative;
    top: 1.7rem;
}

.night-moon {
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 20px;
    animation: glanz 6s ease infinite;
}

.stars {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

@keyframes glanz {

    0%,
    100% {
        filter: brightness(80%);
    }

    50% {
        filter: brightness(140%);
    }
}

@media screen and (max-width: 1044px) {
    .forecast-days-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .currentWeather-container {
        max-width: 90%;
    }

    .currentWeather-text-container h1,
    .currentWeather-text-container h1:nth-child(2) {
        font-size: 55px;
        text-align: center;
    }

    .currentWeather-icon {
        width: 8rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .night-moon{
        display: none;
    }

    .credits{
        top: 0;
    }
}